@font-face {
	font-family: "Sen-Bold";
	src: local("Sen-Bold"), url(./fonts/Sen-Bold.ttf) format("opentype");
}
@font-face {
	font-family: "Sen-ExtraBold";
	src: local("Sen-ExtraBold"), url(./fonts/Sen-ExtraBold.ttf) format("opentype");
}
@font-face {
	font-family: "Sen-Regular";
	src: local("Sen-Regular"), url(./fonts/Sen-Regular.ttf) format("opentype");
}
html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
